Binaries/
Intermediate/
Saved/
Content/MedievalDungeon/Textures/
Content/MedievalDungeon/Textures2/
.vscode/
MysterySolving.code-workspace
Content/MyBGM/FootprintMaze.uasset
Content/MedievalDungeon/Textures2.zip
Content/MedievalDungeon/MyTexture/T_CandleHolder_Bronze_Blue.uasset
Content/MedievalDungeon/
Content/MyBGM/Burning_Horizon.uasset
Content/MyBGM/Burning_Horizon_FULL.uasset
Content/MyBGM/Burning_Horizon_intro.uasset
Content/MyBGM/Burning_Horizon_Loop.uasset
Content/MyBGM/DungeonAncientRuins.uasset
Content/StarterContent/StarterTextures/
